*{
    margin: 0;
    padding: 0;
}
body{
  background-color: black;
}
h1{
    text-decoration: underline dashed 10px rgb(255, 0, 251);
    font-size: 40px;
}
.container{
    text-align: center;
    background-color: rgb(46, 31, 31);
    box-shadow: 10px 10px 10px white;
    width: 100vw;
    color: white;
}
.input{
    width: 500px;
    height: 28px;
    border:4px solid white;
    border-radius: 20px;
}
.btn{
    width: 150px;
    height: 36px;
    background:linear-gradient(rgb(192, 72, 190),pink,rgb(247, 2, 255) );
    cursor: pointer;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    border-width: 6px;
    border-color: gold;
    box-shadow:5px 5px  20px rgb(174, 0, 255);
}
.items{
min-height: 600px;

background-color: black;
color: white;
position: relative;
text-align: center;
justify-content: center;
align-items: center;
}
#box{
    display: flex;
}
ul{
    margin-top: 50px;
    /* text-align: center; */
    position: relative;
    justify-content: center;
}
li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: inline-block;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 50px white;
   background-color: rgb(73, 72, 72);
    margin: 15px;
    width: 180px;
    font-size: 20px;
}
a{
    display: flex;
    position: relative;

    justify-content: center;
    color: rgb(255, 0, 0);
    /* left: 35%; */
    /* right: -20%; */
    cursor: pointer;
}
#popbox{

    align-items: center;
    position:fixed;
    text-align: center;
  margin-top: -820px;
 
  /* margin-top: -60%; */
  z-index: 300;
  border: 2px solid black;
  width: 100vw;
  height: 400px;
  background-color: aqua;
 display: none;
}
.input1{
   
    width: 500px;
    height: 28px;
    border:2px solid black;
   margin-top: 70px;
}
#del{
    align-items: center;
    position: absolute;
    text-align: center;
  margin-top: -820px;
  z-index: 300;
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
 display: none;
}


@media (max-width:690px){
    .input{
        width: 300px;
        height: 28px;
        border:2px solid black;
    }
    .input1{
        width: 250px;
        height: 28px;
    }
}

@media (max-width:428px){
    .input{
        width: 200px;
        height: 28px;
        border:2px solid black;
    }
    .input1{
        width: 150px;
        height: 28px;
    }
}

